@use '@/shared/lib/styles/mixin.scss' as *;

.footer {
  background-image: url('/images/footer-bg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 80px 0;
  @include tablet {
    padding: 40px 0;
  }
  &__top {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    @include tablet {
      flex-direction: column;
      gap: 80px;
    }
  }
  &__bottom {
    margin-top: 40px;
    p {
      color: #a6aaae;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: 23px; /* 164.286% */
      @include tablet {
        text-align: center;
      }
    }
  }
  &__logo {
    @include tablet {
      margin: 0 auto;
      display: flex;
      width: fit-content;
      width: 100%;
      margin-bottom: 40px;
      img {
        width: 100%;
        height: auto;
      }
    }
  }
  h4 {
    color: #a6aaae;
    margin-top: 10px;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 23px; /* 164.286% */
    margin-bottom: 40px;
    @include tablet {
      display: none;
    }
  }
  &__col {
    width: 100%;
    @include tablet {
      width: 100%;
    }

    .details {
      display: flex;
      flex-direction: column;
      gap: 20px;
      margin-top: 40px;
      div {
        display: flex;
        align-items: center;
        gap: 8px;
        @include tablet {
          align-items: flex-start;
        }
        p {
          color: #fff;
          font-size: 18px;
          font-style: normal;
          font-weight: 800;
          line-height: 1.2;
          span,
          a {
            color: #fff;
            font-size: 18px;
            font-style: normal;
            font-weight: 200;
            line-height: 29px; /* 161.111% */
          }
        }
      }
    }

    .address {
      display: flex;
      flex-wrap: wrap;
      gap: 30px;
      margin-bottom: 40px;
      width: 100%;
      @include tablet {
      }
      > div {
        width: calc(50% - 15px);
        &:last-child {
          width: 100%;
        }
      }
      h5 {
        color: #fff;
        text-align: left;
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: 29px; /* 161.111% */
        margin-bottom: 8px;
      }
      p,
      a {
        color: #fff;
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: 29px; /* 161.111% */
      }
    }
  }

  &__socials {
    display: flex;
    gap: 15px;
    a {
      display: flex;
    }
  }

  &__disclaimer {
    margin-top: 40px;
    padding-top: 40px;
    border-top: 1px solid #35333e;
    h4 {
      color: #fff;
      font-size: 18px;
      font-style: normal;
      font-weight: 500;
      line-height: 23px; /* 127.778% */
      text-transform: uppercase;
      margin-bottom: 40px;
    }
    p {
      color: #a6aaae;
      margin-bottom: 24px;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: 1.3; /* 164.286% */
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
