@use '@/shared/lib/styles/mixin.scss' as *;

.homeInstruments {
  margin: 120px 0;
  &__content {
    display: flex;
    align-items: center;
    gap: 124px;
    .col1 {
      width: calc(50% - 62px);
      display: flex;
      flex-wrap: wrap;
      gap: 50px;
      .item {
        width: calc(50% - 25px);
        display: flex;
        flex-direction: column;
        h3 {
          color: #252331;
          margin: 32px 0 8px 0;
          font-size: 18px;
          font-style: normal;
          font-weight: 500;
          line-height: 29px; /* 161.111% */
        }
        p {
          color: #979796;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 26px; /* 162.5% */
        }
      }
    }
    .col2 {
      width: calc(50% - 62px);
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 30px;
      h2 {
        color: #000;
        font-size: 48px;
        font-style: normal;
        font-weight: 700;
        line-height: 62px; /* 129.167% */
      }
      p {
        color: #252331;
        margin-bottom: 20px;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 29px; /* 161.111% */
      }
    }
  }
}
